# Dart related
.dart_tool/
.packages
.pub-cache/
build/
coverage/
generated_plugin_registrant.dart

# iOS/macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods
ios/Runner.xcworkspace
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.symlinks
macos/Pods
macos/Runner.xcworkspace

# Android
android/.gradle
android/app/build
android/local.properties

# VS Code & IntelliJ
.vscode/
.idea/
*.iml

# Misc
*.log
*.tmp
.DS_Store
Thumbs.db
